<main class="main">
  <div class="overlay"></div>
  <div class="parent">
    <div class="content">
      <div class="pdf">
        <object type="application/pdf" data="assets/docs/techrider-gh.pdf">
          <embed src="assets/docs/techrider-gh.pdf" type="application/pdf">
          <!-- Fallback for browsers that don't support embedded PDFs -->
          <div class="fallback">
            <p>It seems your browser does not support PDF embedding. You can <a href="assets/docs/techrider.pdf" download>download the PDF here</a>.</p>
          </div>
        </object>
      </div>
    </div>
  </div>
</main>
