<style>
main {
    background: #FFFFFF;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
}

.parent {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: absolute;
}

.title {
    display: flex;
    justify-content: center;
    position: absolute;
}

.title p {
    display: flex;
    justify-content: center;
    font-family: 'Urbanist';
}

.content {
    padding-top: 4rem;
    display: inline;
    flex-wrap: inherit;
    justify-content: center;
    position: relative;
}

.pdf {
    display: inline;
    justify-content: center;
    position: relative;
    width: fit-content;
    height: fit-content;
}

</style>

<main class="main">
    <div class="parent">
        <div class="title">
            <p>TECH | RIDERS | REQUIREMENTS</p>
        </div>
        <div class="content">
            <div class="pdf">
                <object type="application/pdf" data="assets/docs/techrider.pdf" width="600" height="700"></object>
            </div>
        </div>
    </div>
</main>