<main class="main">
  <div class="overlay"></div>
  <div class="parent">
    <div class="content">
      <div class="text">
        <p>
          Gallowhead’s origin goes back to when the world was midway through the pandemic and<br>
          was started as a project by people who love all kinds of heavy music.<br><br>

          Since then they have released three records - either DIY or with some help from their dear<br>
          friend at Zanns Records.<br><br>
          They’ve played countless shows in various venues all around Europe in countries such as Austria, Switzerland, Germany, Italy and France.<br><br>
          
          When the band is asked how they would describe their sound, the answer is usually not an instant one and a bit long-winded, before giving up and saying something along the lines of “music by people who would like to play fast but are only able to play slowly”.<br><br>
          
          A blend of all the bands they love and influence them meets the uncompromising attitude of working hard and playing whatever riff and melody or drum beat they want.<br><br>
          
          For fans of: Sludge, Doom, (Post)-Hardcore, Death Metal, Anti Fascist Black Metal         
        </p>
      </div>
    </div>
  </div>
</main>
