<main class="main">
  <div class="overlay"></div>
  <div class="parent">
    <div class="content">
      <div class="text">
        <p>
          Born in the very west of Austria, where the world is nothing more than a cracked façade of a 
          Shire-like and sheltered existence - Gallowhead and their music try to peek through the cracks 
          and shine a light on the other side of the same dirty coin.<br><br>
          Growling bass tones reverberate angrily and snug tightly around groovy drum rhythms, creating a 
          rigid surface, only to be cut through by a pair of distorted guitars on the brink of complete 
          failure.<br><br>
          The songs are accompanied by the occasional dreamy melody, only to be sucked back into the swamp 
          of nothingness by shouts and growls of unforgiveness.<br><br>
          The lyrics, just like the music, revolve around the irony of life, bodily fluids, pain, and its 
          acceptance.
        </p>
      </div>
    </div>
  </div>
</main>
