<style>
    main {
        background: #FFFFFF;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        position: absolute;
    }
    
    .parent {
        min-height: 100%;
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: stretch;
        position: absolute;
    }
    
    .title {
        display: flex;
        justify-content: center;
        position: absolute;
    }
    
    .title p {
        display: flex;
        justify-content: center;
        font-family: 'Urbanist';
    }
    
    .content {
        max-width: 50rem;
        padding-top: 2rem;
        display: inline;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }

    .text {
        font-size: 17px;
        font-family: 'Urbanist';
        max-width: 50rem;
        display:inherit;
        position: relative;
        
    }

</style>

<main class="main">
    <div class="parent">
        <div class="title">
            <p>BAND</p>
        </div>

        <div class="content">
            <div class="text">
                <p> Born in the very west of Austria, where the world is nothing more but a cracked façade of a
                Shire-like and sheltered existence - Gallowhead and their music try to peak through the cracks
                and shine a light on the other side of the same dirty coin.<br>
                Growling bass tones reverberate angrily and snug tightly around groovy drum rhythms which
                creates a rigid surface, only to be cut through by a pair of distorted guitars on the brink of
                complete failure.<br>
                The songs get accompanied by the occasional dreamy melody only to be
                sucked back into the swamp of nothingness by shouts and growls of unforgiveness.<br>
                The lyrics, just like the music, revolve around the irony of life, bodily fluids, pain and its
                acceptance.
                </p>
            </div>
        </div>
    </div>
</main>
